<div class="container">
  <div class="col">
    <h3>{{ title }}</h3>
  </div>
  <hr />

  <div class="card text-white bg-primary mb-3" style="max-width: 18rem">
    <div class="card-header">{{ title }} en  <img  id='angular' src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png"></div>
    <div class="card-body">
      <form class="form-inline">
           <div class="form-group">
             <!--<label for="nombre" class=".sr-only">Nombre</label>-->
             <input
               type="text"
               name="nombre"
               id="nombre"
               placeholder="Nombre"
               class="form-control-sm"
               [(ngModel)]="nombreInput"
             />
           </div>
           <div class="form-row">
             <!--<label for="nombre" class=".sr-only">Nombre</label>-->
             <input
               type="text"
               name="apellido"
               id="apellido"
               placeholder="Apellido"
               class="form-control-sm"
               [(ngModel)]="apellidoInput"
             />
           </div>
           <br />
           <div class="col">
             <button
             id="benviar"
               type="submit"
               class="btn btn-primary"
               (click)="agregarPersona()"
             >
               + Agregar
             </button>
           </div>
         </form>
       </div>
      <h5 class="card-title">{{ title }}</h5>
   

  <app-persona
    *ngFor="let personaElemento of personas; let i = index"
    [persona] = "personaElemento"
    [indice] = "i"
    >
    </app-persona>
    <p id="autor"> Copyright: <a id="autorlink" href="http://eScripting.org"> {{ autor }}</a></p>
